<h2>Hello there!</h2>
<p>You have been invited to participate for the SuperParty <strong><%= @invite.event.name %></strong>! You can confirm your presence through this <a href="http://localhost:3000/api/v1/event_guests/confirm?confirmation_token=<%= @invite.confirmation_token %>" target="_blank" rel="noopener noreferrer">link</a></p>
